@model Introducao.Models.Pessoa


@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>
<p>Curso ASP NET - Johnny Erick Dockhorn</p>
<br />
<br />

@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend>Informações de Pessoas - Utilizando ViewData</legend>
        </fieldset>

        <div>
            @Html.LabelFor(x => x.ID)

        </div>
        <div>
            @Html.EditorFor(x => x.ID)
        </div>
        <div>
            @Html.LabelFor(x => x.Name)

        </div>
        <div>
            @Html.EditorFor(x => x.Name)
        </div>
        <div>
            @Html.LabelFor(x => x.Type)

        </div>
        <div>
            @Html.EditorFor(x => x.Type)
        </div>

        <p><input type="submit" value="Enviar" /></p>
    }

<br />
<br />

